.publications-list-container {
    display: grid;
    gap: 1rem;
    margin: 1.5rem 0;
}

.publication-container {
    background: var(--mantle);
    border: 1px solid var(--surface0);
    border-radius: 8px;
    padding: 1.2rem;
    box-shadow: 0 4px 16px var(--crust);
    transition: 200ms ease;
}

.publication-container:is(:hover, :focus-within) {
    background: radial-gradient(ellipse at bottom right, var(--surface0), var(--base));
    border-color: var(--overlay0);
}

.publication-container .title {
    margin: 0 0 0.45rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.publication-container .authors {
    margin: 0 0 0.35rem;
    color: var(--overlay1);
}

.publication-container .meta {
    margin: 0;
    color: var(--overlay1);
}

.publication-container .link {
    margin: 0.7rem 0 0;
    color: var(--overlay1);
    font-family: var(--font-mono);
}

/* Clean version of page for printing */
@media print {
    body,
    body > * {
        background: white !important;
        color: black !important;
        font-family: "Georgia", serif;
    }

    .publication-container,
    .publication-container:is(:hover, :focus-visible) {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        transform: none !important;
        padding: 0 0 0.7rem 0 !important;
    }

    .publication-container > * {
        color: black !important;
        text-decoration: none !important;
        line-height: 1.0 !important;
        margin-top: 0 !important;
        margin-bottom: 0.3rem !important;
    }

    .publication-container > .title {
        font-weight: bold !important;
        line-height: 1.2 !important;
    }

    /* Hide page elements */
    nav, footer, .hide-for-print, button {
        display: none !important;
    }
}