---
const page_title = "About me | Hermann Pommerenke";
---

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{page_title}</title>
        <style>
            h1 {
                color: purple;
                font-size: 4rem;
            }
        </style>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/markdown-page">Markdown page</a>
        <a href="/about">About</a>

        <h1>{page_title}</h1>
        <h2>... and this site under construction</h2>
        <p>I am working through Astro's introductory tutorial. This is the second page on my website</p>
    </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>