---
import BaseLayout from '../layouts/BaseLayout.astro';
import PublicationBox from '../components/PublicationBox.astro';
import '../styles/publications.css';

import {
    theses,
    journalArticles,
    conferencePapers,
    reports,
    talks,
    invitedTalks,
    posters,
} from '../lib/publications';
---

<BaseLayout title="Publications">
    <h2>Theses</h2>
    <div class="publications-list-container">
        {theses.map((pub) => <PublicationBox {...pub} />)}
    </div>

    <h2>Articles in peer-reviewed journals</h2>
    <div class="publications-list-container">
        {journalArticles.map((pub) => <PublicationBox {...pub} />)}
    </div>

    <h2>Articles in conference proceedings</h2>
    <div class="publications-list-container">
        {conferencePapers.map((pub) => <PublicationBox {...pub} />)}
    </div>

    <h2>Technical reports</h2>
    <div class="publications-list-container">
        {reports.map((pub) => <PublicationBox {...pub} />)}
    </div>

    <h2>Invited talks</h2>
    <div class="publications-list-container">
        {invitedTalks.map((pub) => <PublicationBox {...pub} />)}
    </div>

    <h2>Talks</h2>
    <div class="publications-list-container">
        {talks.map((pub) => <PublicationBox {...pub} />)}
    </div>

    <h2>Posters</h2>
    <div class="publications-list-container">
        {posters.map((pub) => <PublicationBox {...pub} />)}
    </div>
</BaseLayout>
